# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

!gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

#files from JetBrains Academy
.gradle/
.idea/
build/
course-info.yaml
course-remote-info.yaml
lesson-info.yaml
Cinema Room REST Service (Java)/A change of plans
Cinema Room REST Service (Java)/Take your seat
Cinema Room REST Service (Java)/The show begins
Cinema Room REST Service (Java)/The statistics